body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
  }
  header, nav, section, aside, footer {
    background: #ebebeb
  }
  header,nav {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20%;
    padding:  35px;
    text-align: center;
  }
  section,aside {
    margin-top: 25px;
    margin-bottom:15px;
    margin-left:20%;
    padding:60px;
    text-align:center;
    width:600px;
  }
  footer {
    margin-top: 25px;
    margin-bottom:15px;
    margin-left: 190px;
    padding :35px;
    text-align: center;
    width: 700px;
  }
  #section {
    width: 400px;
    float: left;
  }
  #aside {
    width: 400px;
    float: right;
 
  }
  #content {
    display: flex;
  }